services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: url_shortener
      POSTGRES_DB: url_shortener_production

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis_data:/data

  web:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: production
      DATABASE_URL: postgres://url_shortener:${DB_PASSWORD}@db:5432/url_shortener_production
      REDIS_URL: redis://redis:6379/1
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      RENDER_EXTERNAL_HOSTNAME: "lynk.lat"
      RAILS_SERVE_STATIC_FILES: "true"
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data: